@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Source+Code+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /*hace que los 16px sean 10px = 1rem*/
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Source Code Pro', monospace;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #19a49c;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, right top, from(#fafafa), to(#edeaea));
  background: linear-gradient(90deg, #fafafa 0%, #edeaea 100%);
}

.header .header__encabezado {
  font-family: "Josefin Sans", sans-serif;
  background: #1aafa6;
  background: radial-gradient(circle, #1aafa6 0%, #19a49c 100%);
  padding-left: 7rem;
}

.header .header__logo {
  width: 15rem;
}

.header .header__bannerAnimado {
  width: 700px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/*diseño barra navegación*/
.header__nav {
  font-size: 2rem;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav li {
  margin: 0 1.5rem 0 0;
}

.dropdown:hover .dropdown-menu {
  display: block !important;
}

/*fin diseño barra navegación*/
body {
  background: #fafafa;
  background: -webkit-gradient(linear, left top, right top, from(#fafafa), to(#edeaea));
  background: linear-gradient(90deg, #fafafa 0%, #edeaea 100%);
}

.productos {
  font-family: "Josefin Sans", sans-serif;
  color: black;
  text-align: center;
}

.productos .productos__title {
  font-size: 4rem;
}

.productos .productos__grilla {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "Subtitle1 Subtitle2" "Img1 Img2" "Subtitle3 Subtitle4" "Img3 Img4";
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  font-size: 2rem;
}

.productos .productos__grilla .productos__grillaSubtitle1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Subtitle1;
}

.productos .productos__grilla .productos__grillaSubtitle2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Subtitle2;
}

.productos .productos__grilla .productos__grillaSubtitle3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: Subtitle3;
}

.productos .productos__grilla .productos__grillaSubtitle4 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: Subtitle4;
}

.productos .productos__grilla .productos__grillaImg1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Img1;
}

.productos .productos__grilla .productos__grillaImg2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: Img2;
}

.productos .productos__grilla .productos__grillaImg3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: Img3;
}

.productos .productos__grilla .productos__grillaImg4 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: Img4;
}

.productos .productos__grilla .productos__grillaImg1 {
  margin: 1rem;
}

.productos .productos__grilla .productos__grillaImg1:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.productos .productos__grilla .productos__grillaImg1 img {
  border: 0.3rem solid #6666;
}

.productos .productos__grilla .productos__grillaImg2 {
  margin: 1rem;
}

.productos .productos__grilla .productos__grillaImg2:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.productos .productos__grilla .productos__grillaImg2 img {
  border: 0.3rem solid #6666;
}

.productos .productos__grilla .productos__grillaImg3 {
  margin: 1rem;
}

.productos .productos__grilla .productos__grillaImg3:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.productos .productos__grilla .productos__grillaImg3 img {
  border: 0.3rem solid #6666;
}

.productos .productos__grilla .productos__grillaImg4 {
  margin: 1rem;
}

.productos .productos__grilla .productos__grillaImg4:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.productos .productos__grilla .productos__grillaImg4 img {
  border: 0.3rem solid #6666;
}

.quienesSomos {
  display: block;
  color: black;
  font-size: 2rem;
  background: #1aafa6;
  background: radial-gradient(circle, #1aafa6 0%, #19a49c 100%);
  border: 0.5rem solid #33cfc7;
  padding: 5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.quienesSomos .quienesSomos__title {
  color: black;
  font-size: 3rem;
  line-height: 3.5rem;
  padding-bottom: 1rem;
  margin: 0 1.5rem 0 0;
}

.footer .footer__redesContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, right top, from(#fafafa), to(#edeaea));
  background: linear-gradient(90deg, #fafafa 0%, #edeaea 100%);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .footer__volverInicio {
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}

.formularioContacto {
  display: block;
  color: black;
  background: #1aafa6;
  background: radial-gradient(circle, #1aafa6 0%, #19a49c 100%);
  font-size: 2rem;
  width: 100rem;
  padding: 30px;
  margin: auto;
  margin-bottom: 5rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0.7rem 1rem 3rem #6666;
          box-shadow: 0.7rem 1rem 3rem #6666;
  text-align: center;
}

.formularioContacto .formularioContacto__datos {
  font-size: 2rem;
  width: 90rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.1rem solid #6666;
  margin: 1rem;
}

.formularioContacto .formularioContacto__boton {
  font-size: 2rem;
  height: 6rem;
  width: 15rem;
  margin: 1rem;
  border-radius: 1rem;
}

.formularioContacto .formularioContacto_boton :hover {
  cursor: pointer;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.placas {
  font-family: "Josefin Sans", sans-serif;
  color: black;
  text-align: center;
}

.placas .placas__title {
  font-size: 3rem;
}

.placas .placas__grilla {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "pSubtitle1 pSubtitle2" "pImg1 pImg2";
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  font-size: 2rem;
}

.placas .placas__grilla .placas__grillaSubtitle1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: pSubtitle1;
}

.placas .placas__grilla .placas__grillaSubtitle2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: pSubtitle2;
}

.placas .placas__grilla .placas__grillaImg1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: pImg1;
}

.placas .placas__grilla .placas__grillaImg2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: pImg2;
}

.placas .placas__grilla .placas__grillaImg1 {
  margin: 1rem;
  margin-bottom: 3rem;
}

.placas .placas__grilla .placas__grillaImg1:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.placas .placas__grilla .placas__grillaImg1 img {
  border: 0.3rem solid #6666;
}

.placas .placas__grilla .placas__grillaImg2 {
  margin: 1rem;
  margin-bottom: 3rem;
}

.placas .placas__grilla .placas__grillaImg2:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.placas .placas__grilla .placas__grillaImg2 img {
  border: 0.3rem solid #6666;
}

.tablaCaracteristicas .tablaCaracteristicas__title {
  display: block;
  font-size: 3rem;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, right top, from(#fafafa), to(#edeaea));
  background: linear-gradient(90deg, #fafafa 0%, #edeaea 100%);
  color: black;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  padding: 1rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "tablaCaracteristicas__imagesLeft tablaCaracteristicas__contenido tablaCaracteristicas__imagesRight";
  -ms-grid-columns: 20% 50% 20%;
      grid-template-columns: 20% 50% 20%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__imagesLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, right top, from(#fafafa), to(#edeaea));
  background: linear-gradient(90deg, #fafafa 0%, #edeaea 100%);
  color: black;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tablaCaracteristicas__imagesLeft;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__imagesLeft img {
  width: 20rem;
  border: 0.5rem solid #6666;
  margin: 4rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__imagesRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, right top, from(#fafafa), to(#edeaea));
  background: linear-gradient(90deg, #fafafa 0%, #edeaea 100%);
  color: black;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: tablaCaracteristicas__imagesRight;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__imagesRight img {
  width: 20rem;
  border: 0.5rem solid #6666;
  margin: 4rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, right top, from(#fafafa), to(#edeaea));
  background: linear-gradient(90deg, #fafafa 0%, #edeaea 100%);
  color: black;
  font-family: "Josefin Sans", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tablaCaracteristicas__contenido;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__box-101 {
  width: 50rem;
  margin: 1rem;
  font-size: 2rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla img {
  width: 7rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__box-102 {
  width: 50rem;
  margin: 1rem;
  font-size: 2rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla img {
  width: 7rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__box-103 {
  width: 50rem;
  margin: 1rem;
  font-size: 2rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla img {
  width: 7rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__box-104 {
  width: 50rem;
  margin: 1rem;
  font-size: 2rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla img {
  width: 7rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__box-105 {
  width: 50rem;
  margin: 1rem;
  font-size: 2rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla img {
  width: 7rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__box-106 {
  width: 50rem;
  margin: 1rem;
  font-size: 2rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla img {
  width: 7rem;
}

.header__carousel {
  width: 600px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 3rem;
}

.notebooks {
  font-family: "Josefin Sans", sans-serif;
  color: black;
  text-align: center;
}

.notebooks .notebooks__title {
  font-size: 3rem;
}

.notebooks .notebooks__grilla {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "nSubtitle1 nSubtitle2" "nImg1 nImg2";
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  font-size: 2rem;
}

.notebooks .notebooks__grilla .notebooks__grillaSubtitle1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nSubtitle1;
}

.notebooks .notebooks__grilla .notebooks__grillaSubtitle2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nSubtitle2;
}

.notebooks .notebooks__grilla .notebooks__grillaImg1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nImg1;
}

.notebooks .notebooks__grilla .notebooks__grillaImg2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: nImg2;
}

.notebooks .notebooks__grilla .notebooks__grillaImg1 {
  margin: 1rem;
  margin-bottom: 3rem;
}

.notebooks .notebooks__grilla .notebooks__grillaImg1:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.notebooks .notebooks__grilla .notebooks__grillaImg1 img {
  border: 0.3rem solid #6666;
}

.notebooks .notebooks__grilla .notebooks__grillaImg2 {
  margin: 1rem;
  margin-bottom: 3rem;
}

.notebooks .notebooks__grilla .notebooks__grillaImg2:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.notebooks .notebooks__grilla .notebooks__grillaImg2 img {
  border: 0.3rem solid #6666;
}

.tablaCaracteristicas .tablaCaracteristicas__title {
  display: block;
  font-size: 3rem;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, right top, from(#fafafa), to(#edeaea));
  background: linear-gradient(90deg, #fafafa 0%, #edeaea 100%);
  color: black;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  padding: 1rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "tablaCaracteristicas__imagesLeft tablaCaracteristicas__contenido tablaCaracteristicas__imagesRight";
  -ms-grid-columns: 20% 50% 20%;
      grid-template-columns: 20% 50% 20%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__imagesLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, right top, from(#fafafa), to(#edeaea));
  background: linear-gradient(90deg, #fafafa 0%, #edeaea 100%);
  color: black;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tablaCaracteristicas__imagesLeft;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__imagesLeft img {
  width: 20rem;
  border: 0.5rem solid #6666;
  margin: 4rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__imagesRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, right top, from(#fafafa), to(#edeaea));
  background: linear-gradient(90deg, #fafafa 0%, #edeaea 100%);
  color: black;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: tablaCaracteristicas__imagesRight;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__imagesRight img {
  width: 20rem;
  border: 0.5rem solid #6666;
  margin: 4rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, right top, from(#fafafa), to(#edeaea));
  background: linear-gradient(90deg, #fafafa 0%, #edeaea 100%);
  color: black;
  font-family: "Josefin Sans", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tablaCaracteristicas__contenido;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__box-1 {
  width: 50rem;
  margin: 1rem;
  font-size: 2rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla img {
  width: 6rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__box-2 {
  width: 50rem;
  margin: 1rem;
  font-size: 2rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla img {
  width: 6rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__box-3 {
  width: 50rem;
  margin: 1rem;
  font-size: 2rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla img {
  width: 6rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__box-4 {
  width: 50rem;
  margin: 1rem;
  font-size: 2rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla img {
  width: 6rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__box-5 {
  width: 50rem;
  margin: 1rem;
  font-size: 2rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla img {
  width: 6rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__box-6 {
  width: 50rem;
  margin: 1rem;
  font-size: 2rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla img {
  width: 6rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__box-7 {
  width: 50rem;
  margin: 1rem;
  font-size: 2rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla img {
  width: 6rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__box-8 {
  width: 50rem;
  margin: 1rem;
  font-size: 2rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla img {
  width: 6rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__box-9 {
  width: 50rem;
  margin: 1rem;
  font-size: 2rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla img {
  width: 6rem;
}

.componentes {
  font-family: "Josefin Sans", sans-serif;
  color: black;
  text-align: center;
}

.componentes .componentes__title {
  font-size: 3rem;
}

.componentes .componentes__grilla {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "cSubtitle1 cSubtitle2" "cImg1 cImg2";
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  font-size: 2rem;
}

.componentes .componentes__grilla .componentes__grillaSubtitle1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: cSubtitle1;
}

.componentes .componentes__grilla .componentes__grillaSubtitle2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: cSubtitle2;
}

.componentes .componentes__grilla .componentes__grillaImg1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cImg1;
}

.componentes .componentes__grilla .componentes__grillaImg2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cImg2;
}

.componentes .componentes__grilla .componentes__grillaImg1 {
  margin: 1rem;
  margin-bottom: 3rem;
}

.componentes .componentes__grilla .componentes__grillaImg1:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.componentes .componentes__grilla .componentes__grillaImg1 img {
  border: 0.3rem solid #6666;
}

.componentes .componentes__grilla .componentes__grillaImg2 {
  margin: 1rem;
  margin-bottom: 3rem;
}

.componentes .componentes__grilla .componentes__grillaImg2:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.componentes .componentes__grilla .componentes__grillaImg2 img {
  border: 0.3rem solid #6666;
}

.tablaCaracteristicas .tablaCaracteristicas__title {
  display: block;
  font-size: 3rem;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, right top, from(#fafafa), to(#edeaea));
  background: linear-gradient(90deg, #fafafa 0%, #edeaea 100%);
  color: black;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  padding: 1rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "tablaCaracteristicas__imagesLeft tablaCaracteristicas__contenido tablaCaracteristicas__imagesRight";
  -ms-grid-columns: 20% 50% 20%;
      grid-template-columns: 20% 50% 20%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__imagesLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, right top, from(#fafafa), to(#edeaea));
  background: linear-gradient(90deg, #fafafa 0%, #edeaea 100%);
  color: black;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tablaCaracteristicas__imagesLeft;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__imagesLeft img {
  width: 20rem;
  border: 0.5rem solid #6666;
  margin: 4rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__imagesRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, right top, from(#fafafa), to(#edeaea));
  background: linear-gradient(90deg, #fafafa 0%, #edeaea 100%);
  color: black;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: tablaCaracteristicas__imagesRight;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__imagesRight img {
  width: 20rem;
  border: 0.5rem solid #6666;
  margin: 4rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, right top, from(#fafafa), to(#edeaea));
  background: linear-gradient(90deg, #fafafa 0%, #edeaea 100%);
  color: black;
  font-family: "Josefin Sans", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tablaCaracteristicas__contenido;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__box-201 {
  width: 50rem;
  margin: 1rem;
  font-size: 2rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla img {
  width: 7rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla .tablaCaracteristicas__box-202 {
  width: 50rem;
  margin: 1rem;
  font-size: 2rem;
}

.tablaCaracteristicas .tablaCaracteristicas__grilla img {
  width: 7rem;
}

.error404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  color: black;
  letter-spacing: 0.4rem;
  -ms-flex-item-align: center;
      align-self: center;
}

.error404 h1 {
  font-size: 10rem;
}

.error404 p {
  font-size: 7rem;
}

.error404 a {
  font-size: 5rem;
}

@media (max-width: 600px) {
  /*comienzo diseño index.html*/
  .header__bannerAnimado {
    width: 600 px/2;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  /* comienzo diseño contacto.html*/
  .formularioContacto {
    width: 600 px/3;
    padding: 5px;
  }
  .formularioContacto .formularioContacto__datos {
    width: 45rem;
  }
  /* comienzo diseño placas_video.html y notebooks.html */
  .linkPlacas__img,
  .linkNotebooks__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0.5rem;
    height: 70vh;
  }
  .header__carousel {
    width: 400px;
  }
  .container {
    font-size: 50%;
  }
}

@media (max-width: 400px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }
  .header .header__bannerAnimado {
    width: 600 px/4;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  /*diseño contacto.html*/
  .formularioContacto {
    width: 35rem;
    padding: 5px;
  }
  .formularioContacto .formularioContacto__datos {
    width: 30rem;
  }
  /*diseño placas_video.html y notebooks.html*/
  .linkPlacas__img,
  .linkNotebooks__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1rem;
    height: 40vh;
  }
  .linkPlacas__img img,
  .linkNotebooks__img img {
    width: 15rem;
    border: 0.5rem solid #6666;
    margin: 2rem;
  }
  .header__carousel {
    width: 250px;
  }
  .container {
    font-size: 50%;
  }
  /*diseño componentes.html*/
  .proximamente {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */