.error404 {
    display: flex;
    flex-direction: column;
    font-family: $JosefinSans;
    color: black;
    letter-spacing: 0.4rem;
    align-self: center;

    h1 {
        font-size: 10rem;
    }

    p {
        font-size: 7rem;
    }

    a {
        font-size: 5rem;
    }
}