.error404 {
    display: flex;
    flex-direction: column;
    font-family: $JosefinSans;
    color: black;
    letter-spacing: 0.4rem;
    text-align: center;
    margin: 2rem;
    height: 70vh;

    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 3rem;
    }

    a {
        font-size: 2rem;
    }
}