.header {
    display: flex;
    flex-direction: column;
    color: $celeste;
    background: rgb(250, 250, 250);
    background: linear-gradient(90deg, rgba(250, 250, 250, 1) 0%, rgba(237, 234, 234, 1) 100%);

    .header__encabezado {
        font-family: $JosefinSans;
        background: rgb(26, 175, 166);
        background: radial-gradient(circle, rgba(26, 175, 166, 1) 0%, rgba(25, 164, 156, 1) 100%);
        padding-left: 7rem;
    }

    .header__logo {
        width: 15rem;
    }

    .header__bannerAnimado {
        width: 700px;
        align-self: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

}

/*dise침o barra navegaci칩n*/

.header__nav {
    font-size: 2rem;
    text-transform: uppercase;
    justify-content: center;

    li {
        margin: 0 1.5rem 0 0;
    }
}

.dropdown:hover .dropdown-menu {
    display: block !important;
}

/*fin dise침o barra navegaci칩n*/

body {
    background: rgb(250, 250, 250);
    background: linear-gradient(90deg, rgba(250, 250, 250, 1) 0%, rgba(237, 234, 234, 1) 100%);
}

.productos {
    font-family: $JosefinSans;
    color: black;
    text-align: center;

    .productos__title {
        font-size: 4rem;
    }

    .productos__grilla {
        display: grid;
        grid-template-areas:
            "Subtitle1 Subtitle2"
            "Img1 Img2"
            "Subtitle3 Subtitle4"
            "Img3 Img4";
        grid-template-columns: 50% 50%;
        font-size: 2rem;
        

        .productos__grillaSubtitle1 {
            grid-area: Subtitle1;
        }

        .productos__grillaSubtitle2 {
            grid-area: Subtitle2;
        }

        .productos__grillaSubtitle3 {
            grid-area: Subtitle3;
        }

        .productos__grillaSubtitle4 {
            grid-area: Subtitle4;
        }

        .productos__grillaImg1 {
            grid-area: Img1;
        }

        .productos__grillaImg2 {
            grid-area: Img2;
        }

        .productos__grillaImg3 {
            grid-area: Img3;
        }

        .productos__grillaImg4 {
            grid-area: Img4;
        }

        @for $i from 1 through 4 {
            .productos__grillaImg#{$i} {
                margin: 1rem;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.1, 1.1);
                    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
                }

                img {
                    border: 0.3rem solid $gris;
                }
            }
        }
    }
}

.quienesSomos {
    display: block;
    color: black;
    font-size: 2rem;
    background: rgb(26, 175, 166);
    background: radial-gradient(circle, rgba(26, 175, 166, 1) 0%, rgba(25, 164, 156, 1) 100%);
    border: 0.5rem solid #33cfc7;
    padding: 5rem;
    text-align: center;
    margin-bottom: 5rem;

    .quienesSomos__title {
        color: black;
        font-size: 3rem;
        line-height: 3.5rem;
        padding-bottom: 1rem;
        margin: 0 1.5rem 0 0;
    }
}


.footer {

    .footer__redesContacto {
        display: flex;
        flex-direction: row;
        background: rgb(250, 250, 250);
        background: linear-gradient(90deg, rgba(250, 250, 250, 1) 0%, rgba(237, 234, 234, 1) 100%);
        justify-content: space-evenly;
    }

    .footer__volverInicio {
        display: block;
        color: $blanco;
        text-transform: uppercase;
        font-size: 1.5rem;
        text-align: center;
    }
}