@media (max-width: 768px) {

    /*index*/

    .header__bannerAnimado {
        width: 100%;
        max-width: 500px;
        align-self: center;
        margin: 1rem;
    }

    .productos {
        text-align: center;

        .productos__title {
            font-size: 3rem;
        }

        .productos__grilla {

            @for $i from 1 through 6 {
                .productos__grillaImg#{$i} {
                    width: 100%;
                    max-width: 150px;
                    margin: 0.75rem;
                    justify-self: center;
                }
            }
        }
    }

    .quienesSomos {
        font-size: 1rem;
        padding: 3rem;
        margin-bottom: 3rem;

        .quienesSomos__title {
            font-size: 2rem;
        }
    }

    /*pages contacto*/

    .formularioContacto {
        width: 70rem;
        padding: 30px;

        .formularioContacto__datos {
            width: 60rem;
        }
    }

    /*pages placas de video*/

    .placas {
        text-align: center;

        .placas__title {
            font-size: 3rem;
        }

        .placas__grilla {

            @for $i from 1 through 2 {
                .placas__grillaImg#{$i} {
                    width: 100%;
                    max-width: 150px;
                    margin: 0.75rem;
                    justify-self: center;
                }
            }
        }
    }

    .tablaCaracteristicas {
        .tablaCaracteristicas__title {
            font-size: 2rem;
        }

        .tablaCaracteristicas__grilla {
            display: grid;
            grid-template-areas:
                "tablaCaracteristicas__images tablaCaracteristicas__contenido";
            grid-template-columns: 30% 70%;
            justify-items: center;
        }
    }

    /*pages notebooks*/

    .notebooks {
        text-align: center;

        .notebooks__title {
            font-size: 3rem;
        }

        .notebooks__grilla {

            @for $i from 1 through 2 {
                .notebooks__grillaImg#{$i} {
                    width: 100%;
                    max-width: 150px;
                    margin: 0.75rem;
                    justify-self: center;
                }
            }
        }
    }

    /*pages componentes*/

    .componentes {
        text-align: center;

        .componentes__title {
            font-size: 3rem;
        }

        .componentes__grilla {

            @for $i from 1 through 2 {
                .componentes__grillaImg#{$i} {
                    width: 100%;
                    max-width: 150px;
                    margin: 0.75rem;
                    justify-self: center;
                }
            }
        }
    }
}

@media (max-width: 320px) {}